<template name="category_items">
  <div class="category-page page">
		<div class="header">
			<div class="category-image">
				<img src="{{category.image.url}}" alt="banner">
			</div>
			<div class="title-wrapper">
				<div class="text-wrapper">
					<div class="middle">
						<div class="title">{{category.displayName}}</div>
            <!-- TODO: implement item counts  -->
						<!-- <div class="item-counts">89</div> -->
					</div>
				</div>
			</div>
		</div>

		<ul class="item-list list-unstyled">
      <!-- TODO: show text "Oops... No things in this category so far" when no things -->
      {{#each thing in things}}
  			<li class="item">
  				<div class="image">
  					<img src="{{thingImageUrl thing}}" alt="">
  				</div>
  				<div class="content">
  					<div class="title">{{thing.name}}</div>
  					<div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{thing.address}}</div>
  					<div class="bottom">
  						<div class="price-wrapper">
  							<span class="price">{{thing.price}} kr</span>
  							<span class="period">{{thing.price_period}}</span>
  						</div>
  					</div>
  					<div class="next">
  						<i class="fa fa-chevron-right" aria-hidden="true"></i>
  					</div>
  				</div>
  				<a href="/{{category.name}}/{{thing.slug}}" class="backdrop"></a>
  			</li>
      {{/each}}
		</ul>
	</div>
</template>
