<template name="category_items">
  <div class="category-page page">
		<div class="header">
			<div class="category-image">
				<img src="/images/categories/flat/banner.jpg" alt="banner">
			</div>
			<div class="title-wrapper">
				<div class="text-wrapper">
					<div class="middle">
						<div class="title">Flats</div>
						<div class="item-counts">89</div>
					</div>
				</div>
			</div>
		</div>

		<ul class="item-list list-unstyled">
			<li class="item">
				<div class="image">
					<img src="/images/categories/flat/flat2.jpg" alt="">
				</div>
				<div class="content">
					<div class="title">Flat Scandinavian style</div>
					<div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Sankt Eriksgatan 117, Business Center Bilpalatset</div>
					<div class="bottom">
						<div class="price-wrapper">
							<span class="price">520 kr</span>
							<span class="period">w</span>
						</div>
					</div>
					<div class="next">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
				</div>
				<a href="/cars/12345" class="backdrop"></a>
			</li>
			<li class="item">
				<div class="image">
					<img src="/images/categories/flat/flat3.jpg" alt="">
				</div>
				<div class="content">
					<div class="title">Flat Scandinavian style for days & weeks</div>
					<div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Sankt Eriksgatan 117, Business Center Bilpalatset</div>
					<div class="bottom">
						<div class="price-wrapper">
							<span class="price">520 kr</span>
							<span class="period">w</span>
						</div>
					</div>
					<div class="next">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
				</div>
				<a href="/cars/823465" class="backdrop"></a>
			</li>
			<li class="item">
				<div class="image">
					<img src="/images/categories/flat/flat4.jpg" alt="">
				</div>
				<div class="content">
					<div class="title">Flat Scandinavian style for days & weeks</div>
					<div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Sankt Eriksgatan 117, Business Center Bilpalatset</div>
					<div class="bottom">
						<div class="price-wrapper">
							<span class="price">520 kr</span>
							<span class="period">d</span>
						</div>
					</div>

					<div class="next">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
				</div>
				<a href="/cars/208657" class="backdrop"></a>
			</li>
			<li class="item">
				<div class="image">
					<img src="/images/categories/flat/flat2.jpg" alt="">
				</div>
				<div class="content">
					<div class="title">Simple flat</div>
					<div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Sankt Eriksgatan 117, Business Center Bilpalatset</div>

					<div class="bottom">
						<div class="price-wrapper">
							<span class="price">520 kr</span>
							<span class="period">w</span>
						</div>
					</div>

					<div class="next">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
				</div>
				<a href="/item.html" class="backdrop"></a>
			</li>
		</ul>
	</div>
</template>
