<template name="categories">
  <div class="container">
    <div class="search-panel">
      <button class="btn btn-default">Search</button>
      <div class="form-group search-wrapper">
        <input type="search" class="form-control" value="" placeholder="Search" />
      </div>
    </div>

    <div class="category-list">
      <!-- {{#unless categories}}
        {{> spinner}}
      {{else}} -->
        {{#each cat in categories}}
          <div class="item {{classWide cat}}">
            <div class="image">
              <img src="{{cat.image.url}}" alt="">
            </div>
            <div class="title-wrapper">
              <div class="text-wrapper">
                <div class="middle">
                  <div class="title">{{cat.displayName}}</div>
                  <!-- TODO: implement items count -->
                  <!-- <div class="item-counts">?246?</div> -->
                </div>
              </div>
              <a href="/{{cat.name}}" class="backdrop"></a>
            </div>
          </div>
        {{/each}}
      <!-- {{/unless}} -->
    </div>
  </div>
</template>
