<template name="deal">
  <div class="item-page page">
		<div class="header">
			<div class="item-image">
				<img src="{{thingImageUrl thing}}" alt="banner">
			</div>
			<div class="header-content">
				<div class="title">{{thing.name}}</div>
			</div>
    </div>

    <div class="content container">
			<div class="top-panel">
				<!-- <div class="left"> -->
        <div>
          Owner
					<div class="user">
						<img src="{{ userProfilePictureUrlByUserId thing.owner }}" alt="user">

						<span class="name">{{ userNameByUserId thing.owner }}</span>
					</div>
				</div>
        <div>
          Borrower
					<div class="user">
						<img src="{{ userProfilePictureUrlByUserId deal.borrower }}" alt="user">

						<span class="name">{{ userNameByUserId deal.borrower }}</span>
					</div>
				</div>
        <div>
          <p>
            Booked at: {{ deal.booking_dt }}
          </p>
          <p>
            Pick-up: {{ deal.pickup_dt }}
          </p>
          <p>
            Return: {{ deal.return_dt }}
          </p>
        </div>
        <div>
          <hr/>
          <input type="text" class="js-message" placeholder="leave a message..." />
          {{#if canSendMessage}}<a href="#" class="js-send">Send</a>{{/if}}
          <hr/>
          <ul>
            {{#each event in events}}
              {{#with event}}
                <li class="js-event" >
                  <div style="{{ eventBackgroundCss event }}">
                    <div class="user">
                      <img src="{{ userProfilePictureUrlByUserId event.user }}" alt="user">
                      {{ dt }} {{ content.text }}
                    </div>
                  </div>
                  <hr/>
                </li>
              {{/with}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
