<template name="deal">
  <div class="item-page page">
		<div class="header">
			<div class="item-image">
				<img src="{{thingImageUrl thing}}" alt="banner">
			</div>
			<div class="header-content">
				<div class="title">{{thing.name}}</div>
			</div>
    </div>

    <div class="content container">
			<div class="top-panel">
				<!-- <div class="left"> -->
        <div>
          Owner
					<div class="user">
						<img src="{{ userProfilePictureUrlByUserId thing.owner }}" alt="user">

						<span class="name">{{ userNameByUserId thing.owner }}</span>
					</div>
				</div>
        <div>
          Borrower
					<div class="user">
						<img src="{{ userProfilePictureUrlByUserId deal.borrower }}" alt="user">

						<span class="name">{{ userNameByUserId deal.borrower }}</span>
					</div>
				</div>
        <div>
          <p>
            Booked at: {{ deal.booking_dt }}
          </p>
          <p>
            Pick-up: {{ deal.pickup_dt }}
          </p>
          <p>
            Return: {{ deal.return_dt }}
          </p>
        </div>
        <div>
          <hr/>
          <input type="text" placeholder="leave a message..." />
          <hr/>
          9/9 13:23 comment
          <hr/>
          9/9 15:15 event
        </div>
      </div>
    </div>
  </div>
</template>
