<template name="item_show">
  <div class="item-page page">
		<div class="header">
			<div class="item-image">
				<img src="{{thingImageUrl thing}}" alt="banner">
			</div>
			<div class="header-content">
				<div class="title">{{thing.name}}</div>
			</div>

			<div class="share">
				<a href="/cars/12345/book" class="btn btn-default">
					Book
				</a>
			</div>

			<div class="price-wrapper">
				<span class="price">{{thing.price}} kr</span>
				<span class="period">{{thing.price_period}}</span>
			</div>
		</div>

		<div class="content container">
			<div class="top-panel">
				<!-- <div class="left"> -->
        <div>
					<div class="user">
						<img src="{{userProfilePictureUrl thing.owner}}" alt="user">

						<span class="name">{{userName thing.owner}}</span>
					</div>
				</div>

				<!-- <div class="right">
					<div class="comments-count">
						<i class="fa fa-comments-o" aria-hidden="true"></i>
						<span class="count">3</span>
					</div>
				</div> -->
			</div>

			<div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{thing.address}}</div>

			<!-- <div class="avaliable">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<span class="label">Available:</span>
				<span class="dates">14.06.2016 - 31.08.2016</span>
			</div> -->

			<div class="description">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat elit ut molestie semper. Donec condimentum diam libero, luctus iaculis eros ultrices ac. Aliquam non mi sit amet nisl commodo rutrum vitae et odio. Curabitur bibendum vehicula condimentum. Nullam vitae dolor consequat, ultricies sapien sit amet, suscipit augue. Sed efficitur tellus sapien, quis molestie odio tincidunt id. Nunc dictum faucibus porta.</p>
			</div>
		</div>
	</div>
</template>
