<template name="me">
  <div class="user-menu side-menu">
		<div class="top-panel">

		</div>

		<div class="user-wrapper">
			<!-- <div class="left">
				<div class="wrapper">
					<div class="title">Shared</div>
					<div class="counts">9</div>
				</div>
			</div> -->
			<div class="user">
				<div class="avatar">
					<img src="/images/avatar.jpg" alt="user">
				</div>
				<div class="name">
					James Rodriguez
				</div>
			</div>
			<div class="right">

			</div>
		</div>

		<ul class="menu list-unstyled">
			<li>
				<a href="#">
					<i class="fa fa-user" aria-hidden="true"></i>
					<span>Profile</span>
				</a>
			</li>
      <li>
				<a href="/my/deals?withNewMessagesOnly=true">
					<i class="fa fa-comments-o" aria-hidden="true"></i>
					<span>New messages</span>
					{{> messagesCountIndicator}}
				</a>
			</li>
			<li>
				<a href="/my/things">
					<i class="fa fa-comments-o" aria-hidden="true"></i>
					<span>My things</span>
					<span class="counts">{{myThingsCount}}</span>
				</a>
			</li>
			<li>
				<a href="/my/deals">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<span>My deals</span>
          <span class="counts">{{myDealsCount}}</span>
				</a>
			</li>
			<li>
				<a href="/share">
					<i class="fa fa-cog" aria-hidden="true"></i>
					<span>Share a thing</span>
				</a>
			</li>
			<li class="logout">
				<a href="#">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
					<span>Loguot</span>
				</a>
			</li>
		</ul>
	</div>
</template>
