<template name="my_deals">
  <div class="category-page page">
    <ul class="item-list list-unstyled">
      <!-- TODO: show text "You haven't had any deals so far." when no things -->
      {{#each deal in deals}}
        <li class="item">
          <div class="image">
            <img src="{{thingImageUrl thing}}" alt="">
          </div>
          {{#let thing=(dealThing deal)}}
            <div class="content">
              <div class="title">{{deal.booking_dt}}</div>
              <div class="title">{{thing.name}}</div>
              <div class="address"><i class="fa fa-map-marker" aria-hidden="true"></i>{{thing.address}}</div>
              <div class="bottom">
                <div class="price-wrapper">
                  <span class="price">{{thing.price}} kr</span>
                  <span class="period">{{thing.price_period}}</span>
                </div>
              </div>
              {{#if newMessagesCount deal gt 0}}
                <div> <!-- New messages -->
                  <!-- TODO: a mock so far  -->
                  <span>{{firstNewMessage}}</span>
                  <span style="background-color: red; color: white">&nbsp;{{newMessagesCount deal}}&nbsp;</span>
                </div>
              {{/if}}
              <div class="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </div>
            <a href="/deals/{{deal.slug}}" class="backdrop"></a>
          {{/let}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>
