<template name="share_form">

  <div class="share-resource-page page">
		<div class="container">
			<form action="#" class="share-resource">
        <div id="myDropzone" class="dropzone">

        </div>
        <!-- {{> dropzone url='/' id='myDropzone' maxFiles=1}} -->
				<!-- <div class="form-group">
					<div class="image-uploader">
						<i class="fa fa-plus" aria-hidden="true"></i>
						<div class="description">
							Add picture
						</div>
					</div>
				</div> -->

        <!-- <input type="file" class="file_bag">
        <button class="upload">Upload</button> -->
        {{#if processing}}
          {{> spinner}}
        {{/if}}

        <div class="title-row">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
							</span>
              <!-- TODO: get rid of this hardcode, categories are in the DB  -->
							<select id="category">
                <option>Select a category</option>
                <option value="cars">Cars</option>
                <option value="bicycles">Bicycles</option>
                <option value="flats">Flats</option>
              </select>
						</div>
					</div>
				</div>
				<div class="title-row">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
							</span>
							<input id="what" type="text" placeholder="What" value="" class="form-control">
						</div>
					</div>
				</div>
        <!-- TODO: geo autocomplete  -->
				<div class="location-row">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</span>
							<input id="where" type="text" placeholder="Where" value="" class="form-control">
						</div>
					</div>
				</div>
				<div class="comment-row">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-comment" aria-hidden="true"></i>
							</span>
							<input type="text" id="description" placeholder="Description" value="" class="form-control">
						</div>
					</div>
				</div>
				<div class="price-value-row">
					<div class="form-group">
						<div class="input-group">
							<input id="price" type="text" placeholder="Price" value="" class="form-control">
							<span class="input-group-addon">kr/d</span>
						</div>
					</div>
				</div>
				<!-- <div class="dates-row">
					<div class="form-group">
						<div class="input-group">
							<input type="text" placeholder="Start date" class="form-control">
							<span class="input-group-addon">X</span>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="text" placeholder="End date" class="form-control">
							<span class="input-group-addon">X</span>
						</div>
					</div>
				</div> -->
        <!-- TODO: a lot of hardcode  -->
        <div>
          <p>
            --- Privacy --- <br />
            (group things in a pool and share privetly) <br />
            Add to pool <br />
            (pick one this thing belongs to / make a new one / skip privacy)
          </p>
          {{#each pool in pools}}
            <input type="radio" name="pool" value="{{pool._id}}" />{{pool.name}}<br />
          {{/each}}
          <span>TODO...</span><br />
          <label for="new_pool_name">Name</label>
          <input type="text" name="new_pool_name" placeholder="ex. jewelry" disabled="true" /><br />
          <label for="new_pool_secret">Secret</label>
          <input type="text" name="new_pool_secret" placeholder="ex. unicorns-exist" disabled="true" />
          <button><a id="#add_pool" href="#add_pool">Add</a></button>
        </div>
        <!-- <div>
          <p>
            Circles <br />
            Share with: <br />
          </p>
          <input type="checkbox" name="globe" value="globe">the Globe<br>
          <input type="checkbox" name="my_cirle_1" value="my_cirle_1">My cirlce 1<br>
          <input type="checkbox" name="my_cirle_2" value="my_cirle_2">My cirlce 2<br>
          <input type="text" name="new_pool" placeholder="give it a name (ex. )" /><button><a href="#">Add</a></button>
        </div> -->

				<div class="form-action">
          {{#if saved}}
            <span>Saved <a href="{{pathToThing thing}}">See your thing</a></span>
          {{else}}
            <button class="btn btn-default js-save">Save</button>
          {{/if}}
				</div>
			</form>
		</div>
	</div>
</template>
