html,
body {
	min-width: 320px;
	height: auto;
	min-height: 100%;
}

body {
	padding: 0 0 80px;
	overflow-x: hidden;
}

a {
	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.main-wrapper {
	min-height: 100%;
	background: #fff;
}

.search-panel {
	@include clearfix();
	margin: 20px 0;

	button {
		width: 110px;
		float: right;
		border-radius: 0 3px 3px 0;
	}

	.search-wrapper {
		margin: 0 110px 0 0;

		.form-control {
			height: 45px;
			line-height: 45px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}
}

.share-wrapper {
	margin: 0 0 40px;
	@include clearfix();
	text-align: center;

	button {
		margin: 0 15px;
	}
}

.container,
.navbar,
.page {
	position: relative;
	z-index: 5;
}

.bottom-panel {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background: #313533;
	text-align: center;
	z-index: 5;

	ul {
		@include clearfix();
		margin: 0px;
		padding: 0;
		font-size: 0;

		li {
			display: inline-block;
			width: 50%;
			height: 80px;
			font-size: 16px;
			line-height: 80px;
			background: #313533;

			&.active {
				background: #222222;
			}
		}
	}

	a {
		display: block;
		color: #fff;
		line-height: 1.2em;
		text-align: center;

		&:hover {
			text-decoration: none;
		}

		.fa {
			display: block;
			margin: 8px 0;
			font-size: 2.5em;
		}
	}
}

.price-wrapper {
	.label {
		font-weight: 700;
	}

	.price {
		font-family: 'proxima_nova_rgbold';
	}

	.period {
		color: #2ede84;

		&:before {
			content: '/ ';
		}
	}
}

@media(min-width: 1024px) {
	html {
		background: url('../images/desktop-background.jpg') center center no-repeat;
	}

	body {
		width: 320px;
		height: 568px;
		padding: 87px 68px 138px;
		margin: 0 auto;
		box-sizing: content-box;
		background: url('../images/iphone-example.png') center 0px no-repeat;
	}

	body .main-wrapper {
		position: relative;
		width: 320px;
		height: 568px;
		margin: 0 0 0 -5px;
		overflow: hidden;
		box-sizing: border-box;
	}

	.bottom-panel {
		position: absolute;
	}

	.container {
		width: 100%;
	}

	.navbar .user {
		padding: 0 10px;
	}
}
